body{
width: 100vw;
height: 100vh;
background: url(/images/bg.png) no-repeat;
background-size:cover;
color:white;
font-family:"mm_text_proregular";
}

div.scene{
width: 100%;
padding: 0px 15px;
box-sizing: border-box;
}

div.hide{
	display: none;
}

.bold{
font-family: mm_text_pro_webttbold;
}

img.bgImg{
width: 100%
}

img#bottomImg{
position: absolute;
bottom:0;
}


@media screen and (min-height: 500px) {
    div.scene{
	padding: 0px 20px;
	}
}

@media (min-width: 400px) and (min-height: 500px) {

}

/*Scene 1*/

div#scene-1{	
text-align: center
}

div#scene-1 p{
font-size: 26px;
margin-bottom: 10px;
line-height: initial;
}

button.selectBtn{
width: 220px;
background: url(/images/selectBtn.png) no-repeat;
background-size: cover;
height: 63px;
border-radius: 20px;
border-color: transparent;
margin: 0 auto;
display: block;

}

@media (min-height: 500px) {
    div#scene-1 p{
    	font-size: 2em
	}
}

@media (min-width: 400px) and (min-height: 500px) {
    div#scene-1 p{
    	font-size: 40px;
    	line-height: 55px
	}
}

/*Scene 2*/

div#scene-2{
text-align: center
}

div#scene-2 #slider{
	margin-top: -25px;
	margin-bottom: 10px
}

div#scene-2 p{
font-size: 25px;
margin-bottom: 5px;
}

button.facebookBtn{
width: 220px;
background: url(/images/facebookBtn.png) no-repeat;
background-size: contain;
height: 52px;
border-color: transparent;
margin: 0 auto;
display: block;
position: relative;
z-index: 2;
}

.film_roll_child{
	text-align: center
}

.film_roll_wrapper img {
    
 margin-left: 5px; 
 margin-right: 5px; 
 transition: all 1s ease;
 background: white ;
 width: 90%;
 margin:0 auto;
}

.film_roll_child.active img{
	width: 100%
}
.film_roll_next,.film_roll_prev{
	display: none !important;
}

@media (min-height: 500px) {
	div#scene-2 #slider{
		margin-top: 0px;
		margin-bottom: 20px
	}
}

@media (min-width: 400px) and (min-height: 500px) {
    div#scene-2 p{
    	font-size: 30px;
	}

	div#scene-2 #slider{
		margin-top: 0px;
		margin-bottom: 30px
	}
}

/*Scene 3*/

div#scene-3 img{
	width: 100%
}

div#scene-3 div.imgCont{
	width: 40%;
	position: absolute;
	bottom: 0;
	z-index:2;
	right:0px;
}

@media (min-height: 500px) {
	div#scene-3 div.imgCont{
		width:60%;
	}
}

@media (min-width: 400px) and (min-height: 500px) {

}

/*Scene 4*/

div#scene-4{
text-align: center
}

div#scene-4 p{
font-size: 20px;
margin-bottom: 10px;
}

div#scene-4 p.small{
font-size: 13px;
    margin-bottom: 0px;
}

div#scene-4 div.gift{
	width: 300px;
	margin:0 auto;
	display: inline;
}

div#scene-4 div.gift img{
	width: 30%;
}


button.buyNowBtn{
width: 200px;
background: url(/images/buyBtn.png) no-repeat;
background-size: cover;
height: 58px;
border-radius: 20px;
border-color: transparent;
margin: 0 auto;
display: block;
position: relative;
z-index: 2
}

@media (min-height: 500px) {
	div#scene-4 p{
	font-size: 28px;
	}

	div#scene-4 p.small{
	font-size: 15px;
	}
	div#scene-4 div.gift{
	width: 300px;
	margin:0 auto;
	}

	div#scene-4 div.gift img{
		width: 38%;
	}
}

@media (min-width: 400px) and (min-height: 500px) {
  div#scene-4 p{
	font-size: 28px;
	}

	div#scene-4 p.small{
	font-size: 17px;
	}
}



